
/* Index  */
body {
    padding-top: 100px;
    font-family: 'Crimson Text', serif;
    font-size: 100%;
    background-color: #f8f9fa;
    margin-bottom: 50px;
}

.navbar {
    width:100%;
    font-size: 1.3em;  
}

.navbar-brand {
    font-size: 2.0em;
}


.callout-container {
    height: 55vh;
    background: url(images/front-page.jpg) no-repeat center ;
    opacity: 0.5;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.jumbotron {
    color: rgb(73, 2, 64);
    background-color:transparent;
    text-align:center;
    }

.jumbotron-header {
    font-size: 300%;
    margin-bottom:0px;
    margin-top:0px;
    text-align:center;
}

.sub-head{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

 .footer-row{
    background-color: rgb(73, 2, 64);
    color: #FFFFFF;
    display: flex;
    font-size: small;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
    
}
/* 
.sm-icon {
    height: 40px;
    width: 40px;
} */

.social-med {
    display: flex;
    justify-content: center;
}

/* Visit */

.visit-container   {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    align-items: center;
    justify-content: center; 
    display: flex;
} 

.bg-color {
    align-content: center;
}

.media {
    margin-top:30px; 
    margin-left: 30px;
    margin-right: 10px;  
    margin-bottom: 30px;
}

.video-text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 26px;
}


.Quotes {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    padding-left: 30px;
    padding-right: 30px;
}


.Birthday-offer {
    margin-top:30px;
}



/* Creations */
.row {
    display:flex;
    flex-wrap: wrap;
    padding: 30px;
}

.column {
    font-size: 24px;
    flex: 50%;
    max-width: 50%;
    padding: 20px;
}

.column img {
    margin-top: 8px;
    margin-bottom:40px;
    vertical-align: middle;
    width: 100%;
  }

  .creations-cursor {
  cursor: pointer;
  }
  

  /* .rounded-corners {
      border-radius: 50px;
      
  }

  .rounded-corners-long {
    border-radius: 50px;
 
} */

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - so each column is stacked on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/*Contact us Page CSS overides*/

.contact-body {
    padding-bottom: 50px;
    scroll-behavior: smooth;
    padding-left: 30px;
    padding-right: 30px;
}

#contactform{    
    padding-bottom: 100px;
    scroll-behavior: smooth;
    padding-left: 30px;
    padding-right: 30px;
}