
/* Index  */
body {
    padding-top: 100px;
    font-family: 'Crimson Text', serif;
    font-size: 100%;
}

.navbar {
    width:100%;
    font-size: 1.3em;  
}

.navbar-brand {
    font-size: 2.0em;
}


.callout-container {
    height: 40vh;
    background: url(images/front-page.jpg) no-repeat center ;
    opacity: 0.5;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.jumbotron {
    color: rgb(73, 2, 64);
    background-color:transparent;
    text-align:center;
    }

.jumbotron-header {
    font-size: 300%;
    margin-bottom:0px;
    text-align:center;
}

.sub-head{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #footer{
    background-color: rgb(73, 2, 64);
    color: #FFFFFF;
    display: flex;
    font-size: xx-small;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;

}

.sm-icon {
    height: 30px;
    width: 30px;
}

.social-med {
    display: flex;
    justify-content: center;
}

/* Visit */

.visit-container   {
    /* padding-top: 30px; */
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
    justify-content: center; 
    display: flex;
} 

.bg-color {
    align-content: center;
}

.media {
    margin-top:30px; 
    margin-left: 30px;
    margin-right: 10px;  
}

.video-text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 26px;
}


.Quotes {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    padding-left: 30px;
    padding-right: 30px;
}


.Birthday-offer {
    margin-top:30px;
}



/* Creations */
.row {
    display:flex;
    flex-wrap: wrap;
    padding: 30px;
}

.column {
    font-size: 24px;
    flex: 50%;
    max-width: 50%;
    padding: 20px;
}

.column img {
    margin-top: 8px;
    margin-bottom:25px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/*Contact us Page CSS overides*/

.contact-body {
    padding-bottom: 100px;
    scroll-behavior: smooth;
    padding-left: 30px;
    padding-right: 30px;
}